html {
    background-color: beige;
}

.book {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    text-align: start;
    height: 200px;
    width: 200px;
    background-color: #f3cc9c;
    border-radius: 20px;

}

.book-submit {
    background-color: #f3cc9c;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    justify-content: space-around;
    height: 300px;
    width: 300px;

}

.button-cont {
    display: flex;
    justify-content: start;
}

#title {}