html {
    background-color: #ccd5ae;
    font-family: Nunito, sans-serif;
    color: #93714E;
}

.body {
    display: flex;


}

.book {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 280px;
    width: 220px;
    background-color: #E9EDC9;
    border-radius: 20px;


}


.book-submit {
    background-color: #E9EDC9;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    justify-content: space-around;
    height: 300px;
    width: 300px;

}

.submit-but {
    width: 200px;
    height: 30px;
    align-self: center;

}

.button-cont {
    display: flex;
    justify-content: space-between;
}

.book-grid {
    height: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: (repeat(1fr, 3));
    padding: 40px;
}

#addBtn {
    width: 200px;
    height: 100px;
    font-size: 30px;
    background-color: #FEFAE0;
    color: #93714E;
    left: 45%;

    border-radius: 8px;
}

#title {}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
    display: block;
}

.submission {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    background-color: var(--grey);
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
}

.submission.active {
    transform: translate(-50%, -50%) scale(1);
}

.flex-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    background-color: #FAEDCD;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    color: #
}

.color-red {
    background-color: rgba(240, 92, 92, 0.801);

}

.color-green {
    background-color: #70fa92cb;

}

.card-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;


}